{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique earum fuga quas, totam, assumenda quos, dolore perferendis impedit quia quo eligendi nemo voluptates dignissimos qui veniam. Obcaecati, non! Voluptas maxime officia est fugit commodi eius, officiis, doloremque expedita beatae numquam iste nam nesciunt! Est, impedit tempore. Assumenda obcaecati molestiae culpa quis quisquam corporis beatae quidem hic pariatur, eveniet non placeat aspernatur atque voluptates vero dicta, quas recusandae quae sint distinctio exercitationem molestias accusamus! Rerum reprehenderit nesciunt repellendus earum provident ipsum sit, dolorum, ullam distinctio nisi eaque impedit numquam iste perferendis laboriosam maxime molestiae! Tempore sit voluptatem nihil necessitatibus odit fugit!</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}